/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #F4F6F8;
  color: black;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.buttons a,
.buttons a:hover {
  color: black;
}

.buttons a:last-of-type {
  margin: 20px 36px;
}

.buttonsGitHubButtonWrapper {
  display: flex;
}

.buttonsGitHubButton {
  overflow: hidden;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.getStartedButton {
  color: white !important;
}

[data-theme="dark"] .heroBanner {
  background: linear-gradient(45deg, #232526, #414345);
}

[data-theme="dark"] .button--secondary {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .button--secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
}

[data-theme="dark"] .title,
[data-theme="dark"] .subtitle {
  color: white;
}
